<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/content/css/home.css">
</head>
<body>
  <%- include('./partials/header.ejs') %>

  <main>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus necessitatibus fuga totam iusto! Odit rerum optio dolores, suscipit, doloribus porro perspiciatis in qui cumque maxime aperiam impedit earum fuga harum?
   <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, illum? Iure placeat atque labore blanditiis beatae fugiat, libero sint, impedit doloremque debitis odit incidunt aut eveniet enim laudantium animi illo?</div>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolores, corrupti maxime doloremque inventore nisi rem unde tempora ea fuga tenetur incidunt ipsum at similique deleniti blanditiis atque repellendus modi.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus necessitatibus fuga totam iusto! Odit rerum optio dolores, suscipit, doloribus porro perspiciatis in qui cumque maxime aperiam impedit earum fuga harum?
   <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, illum? Iure placeat atque labore blanditiis beatae fugiat, libero sint, impedit doloremque debitis odit incidunt aut eveniet enim laudantium animi illo?</div>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolores, corrupti maxime doloremque inventore nisi rem unde tempora ea fuga tenetur incidunt ipsum at similique deleniti blanditiis atque repellendus modi.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus necessitatibus fuga totam iusto! Odit rerum optio dolores, suscipit, doloribus porro perspiciatis in qui cumque maxime aperiam impedit earum fuga harum?
   <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, illum? Iure placeat atque labore blanditiis beatae fugiat, libero sint, impedit doloremque debitis odit incidunt aut eveniet enim laudantium animi illo?</div>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolores, corrupti maxime doloremque inventore nisi rem unde tempora ea fuga tenetur incidunt ipsum at similique deleniti blanditiis atque repellendus modi.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus necessitatibus fuga totam iusto! Odit rerum optio dolores, suscipit, doloribus porro perspiciatis in qui cumque maxime aperiam impedit earum fuga harum?
   <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, illum? Iure placeat atque labore blanditiis beatae fugiat, libero sint, impedit doloremque debitis odit incidunt aut eveniet enim laudantium animi illo?</div>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolores, corrupti maxime doloremque inventore nisi rem unde tempora ea fuga tenetur incidunt ipsum at similique deleniti blanditiis atque repellendus modi.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus necessitatibus fuga totam iusto! Odit rerum optio dolores, suscipit, doloribus porro perspiciatis in qui cumque maxime aperiam impedit earum fuga harum?
   <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, illum? Iure placeat atque labore blanditiis beatae fugiat, libero sint, impedit doloremque debitis odit incidunt aut eveniet enim laudantium animi illo?</div>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolores, corrupti maxime doloremque inventore nisi rem unde tempora ea fuga tenetur incidunt ipsum at similique deleniti blanditiis atque repellendus modi.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus necessitatibus fuga totam iusto! Odit rerum optio dolores, suscipit, doloribus porro perspiciatis in qui cumque maxime aperiam impedit earum fuga harum?
   <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, illum? Iure placeat atque labore blanditiis beatae fugiat, libero sint, impedit doloremque debitis odit incidunt aut eveniet enim laudantium animi illo?</div>
  </main>
  
  <%- include('./partials/footer.ejs') %>

</body>
</html>